@page
@model App.Endpoints.RazorPages.UI.Areas.Admin.Pages.ActiveProductsModel
@{
}


<div class="row g-3 mb-3">
    <div class="col-md-12 col-lg-8 col-xl-8 col-xxl-9">
        <div class="row g-3 mb-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3">

            @foreach (var item in Model.products)
            {
                <div class="col">
                    <div class="card">
                        <div class="product">
                            <div class="product-image">
                                <div class="product-item active">
                                    <img src="item.Imagepath" alt="product" class="img-fluid w-100">
                                </div>
                                <a class="add-wishlist" href="#">
                                    <i class="bi bi-heart-fill text-danger"></i>
                                </a>
                            </div>
                            <div class="product-content p-3">
                                <span class="rating mb-2 d-block"><i class="icofont-star text-warning"></i> 4.5 (145)</span>
                                <a href="product-detail.html" class="fw-bold">@item.Name</a>
                                <p class="text-muted">@item.Description</p>
                                <span class="d-block fw-bold fs-5 text-secondary">تومان</span>
                                @if (!item.IsActive)
                                {
                                    <form method="post" asp-page-handler="Active" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-danger mt-3">فعال کردن</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="DeActive" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-success mt-3">غبرفعال کردن</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }

           


        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <nav class="justify-content-end d-flex">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">قبلی</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">بعدی</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div> <!-- Row end  -->